@model NesneMVC.Models.Kullanicilar
@{
    Layout = null;
}

@Html.Raw(TempData["onay"])
@Html.Raw(TempData["msg"])
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="/Eshopper/css/bootstrap.min.css" rel="stylesheet">
    <link href="/Eshopper/css/font-awesome.min.css" rel="stylesheet">
    <link href="/Eshopper/css/prettyPhoto.css" rel="stylesheet">
    <link href="/Eshopper/css/price-range.css" rel="stylesheet">
    <link href="/Eshopper/css/animate.css" rel="stylesheet">
    <link href="/Eshopper/css/main.css" rel="stylesheet">
    <link href="/Eshopper/css/responsive.css" rel="stylesheet">
</head>
<body>
    <header id="header">
        <div class="header_top">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="contactinfo">
                            <ul class="nav nav-pills">
                                <li><a href="#"><i class="fa fa-phone"></i> +90 541 355 84 61</a></li>
                                <li><a href="#"><i class="fa fa-envelope"></i> egementosyalibs@gmail.com</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--/header_top-->

        <div class="header-middle">
            <!--header-middle-->
            <div class="container">
                <div class="row">
                    <div class="col-sm-8">
                        <div class="mainmenu pull-left">
                            <ul class="nav navbar-nav collapse navbar-collapse">
                                <li><a href="/Hepsisurada/Index" class="active"><h2>Ana Sayfa</h2></a></li>
                            </ul>
                        </div>
                        <div class="shop-menu pull-right">
                            <ul class="nav navbar-nav">
                                <li><a>Hoşgeldin @Session["KullaniciAdi"]</a></li>
                                <li><a href="/Hepsisurada/Hesabim"><i class="fa fa-user"></i> Hesabım</a></li>
                                <li><a href="/Hepsisurada/Sepet/"><i class="fa fa-shopping-cart"></i> Sepet</a></li>
                                <li><a href="/Hepsisurada/Siparislerim/"><i class="fa fa-shopping-cart"></i> Siparişlerim</a></li>
                                <li><a href="/Hepsisurada/Cikis"><i class="fa fa-lock"></i>Çıkış Yap</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--/header-middle-->
    </header>
    <section id="form">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <h2>Hesabım</h2>
                    <div class="signup-form">
                        @using (Html.BeginForm("Hesabim", "Hepsisurada", FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()
                            <input name="KullaniciKA" type="text" value="@Model.KullaniciKA" />
                            @Html.ValidationMessageFor(model => model.KullaniciKA, "", new { @class = "text-danger" })
                            <input name="KullaniciSF" type="text" value="@Model.KullaniciSF" />
                            @Html.ValidationMessageFor(model => model.KullaniciSF, "", new { @class = "text-danger" })
                            <input name="KullaniciAdi" type="text" value="@Model.KullaniciAdi" />
                            @Html.ValidationMessageFor(model => model.KullaniciAdi, "", new { @class = "text-danger" })
                            <input name="KullaniciEmail" type="email" value="@Model.KullaniciEmail" />
                            @Html.ValidationMessageFor(model => model.KullaniciEmail, "", new { @class = "text-danger" })
                            <input name="KullaniciTelefon" type="text" value="@Model.KullaniciTelefon" />
                            @Html.ValidationMessageFor(model => model.KullaniciTelefon, "", new { @class = "text-danger" })
                            <input name="KullaniciDogum" type="text" value="@Model.KullaniciDogum" />
                            @Html.ValidationMessageFor(model => model.KullaniciDogum, "", new { @class = "text-danger" })
                            <input name="KullaniciAdres" type="text" value="@Model.KullaniciAdres" />
                            @Html.ValidationMessageFor(model => model.KullaniciAdres, "", new { @class = "text-danger" })
                            <button type="submit" class="btn btn-success">Güncelle</button>
                        }
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="/Eshopper/js/jquery.js"></script>
    <script src="/Eshopper/js/bootstrap.min.js"></script>
    <script src="/Eshopper/js/jquery.scrollUp.min.js"></script>
    <script src="/Eshopper/js/jquery.prettyPhoto.js"></script>
    <script src="/Eshopper/js/main.js"></script>
</body>
</html>