@model IEnumerable<NesneMVC.Models.Siparisler>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<body class="animsition">
    <div class="row">
        <div class="table-responsive table-responsive-data2">
            <br />
            <table id="tbl1" class="table table-data2">
                <thead>
                    <tr>
                        <th>Adı</th>
                        <th>Fiyat</th>
                        <th>Adet</th>
                        <th>Resim</th>
                        <th>Adres</th>
                        <th>Tarih</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                    <tr>
                        <th class="status--process">@item.SiparisAdi</th>
                        <th class="status--process">@item.SiparisFiyat ₺</th>
                        <th class="status--process">@item.SiparisAdet</th>
                        <th>
                            <img src="@item.SiparisResim" height="40" width="60" />
                        </th>
                        <th class="status--process">@item.SiparisAdres</th>
                        <th class="date">@item.SiparisTarih</th>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</body>