@model IEnumerable<NesneMVC.Models.Urunler>
@using PagedList;
@using PagedList.Mvc;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <body class="animsition">
        <div class="row">
            <div class="col-md-12">
                <div class="table-data__tool">
                    <div class="table-data__tool-left">

                        @foreach (var i in ViewBag.kategori)
                        {
                            <a class="btn btn-warning" href="/AdminUrunler/Kategori/@i.KategoriID">@i.KategoriAdi</a>
                        }
                    </div>
                </div>
                <div class="table-data__tool-right">
                    <a href="/AdminUrunler/UrunEkle" class="au-btn au-btn-icon au-btn--green au-btn--small">Ürün Ekle</a>
                </div>
                <br />
                <div>
                    @using (Html.BeginForm("Index", "AdminUrunler",FormMethod.Get))
                    {
                        <p>
                            Aranacak Ürün: @Html.TextBox("arama")
                            <input type="submit" value="Ara" />
                        </p>
                    }
                </div>
                <div class="table-responsive table-responsive-data2">
                    <table id="tbl1" class="table table-data2">
                        <thead>
                            <tr>
                                <th>Kategori Adı</th>
                                <th>Ürün Adı</th>
                                <th>Ürün Fiyatı</th>
                                <th>Ürün Stok</th>
                                <th>Resim</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <th>
                                        <span class="block-email">@item.Kategori.KategoriAdi</span>
                                    </th>
                                    <th class="desc">@item.UrunAdi</th>
                                    <th>
                                        <span class="status--process">@item.UrunFiyat TL</span>
                                    </th>
                                    <th>@item.UrunStok ADET</th>
                                    <th>
                                        <img src="@item.UrunResim" height="40" width="60" />
                                    </th>
                                    <td>
                                        <div class="table-data-feature">
                                            <a href="/AdminUrunler/Guncelle/@item.UrunID" class="item" data-toggle="tooltip" data-placement="top" title="Güncelle">
                                                <i class="zmdi zmdi-edit"></i>
                                            </a>
                                            <a href="/AdminUrunler/Detay/@item.UrunID" class="item" data-toggle="tooltip" data-placement="top" title="Detay">
                                                <i class="zmdi zmdi-devices"></i>
                                            </a>
                                            <a href="/AdminUrunler/Sil/@item.UrunID" class="item" data-toggle="tooltip" data-placement="top" title="Sil">
                                                <i class="zmdi zmdi-delete"></i>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    @Html.PagedListPager((IPagedList)Model,sayfa=>Url.Action("Index",new { sayfa=sayfa }))
                </div>
            </div>
        </div>
    </body>
